.main-bg {
  height: 300px;
  background-image: url('/bg-1.png');
  background-size: cover;
  background-position: center;
}

.shoe-image {
  width: 100%;
  /* grid 안에서 가득 차게 (가로는 채움) */
  object-fit: contain;
  /* 이미지 전체 보이게, 비율 유지 */
  display: block;
  background-color: #f0f0f0;
  /* 남는 여백이 보이도록 임의 색상 */
}

.link-to-detail {
  color: inherit;
  text-decoration: none;
}